@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}


body {

    background: #EDEEE8;
}

.wrapper {
    max-width: 405px;
    margin: 135px auto;
    padding: 20px;
    background: #ffffff;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.082);
}

@media screen and (max-width: 400px) {
    .wrapper {
        margin: 6px auto;
    }
}

.wrapper .title {
    font-size: 2rem;
    padding-bottom: 13px;
}

.wrapper .task-input {
    display: flex;
    position: relative;
    height: 48px;
    overflow: hidden;
    border: 1px solid #c1c1c1;
    border-radius: 50px;
    margin-bottom: 13px;
}

.wrapper .task-input input {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    padding-left: 18px;
    font-size: 1rem
}

.wrapper .task-input button {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 5px;
    right: 12px;
    border-radius: 50%;
    border: none;
    background: #52E3A4;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(46, 167, 116);
    cursor: pointer;
    font-size: 1.1rem;
}

.wrapper .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.wrapper .controls .filters {
    display: flex;
    align-items: center;
    gap: 16px;
    color: #4e4e4e;
    cursor: pointer;
}

.wrapper .controls button {
    background: none;
    border: none;
    outline: none;
    color: rgb(223, 76, 76);
    font-size: 1rem;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}

.wrapper .controls button:hover {
    color: rgb(185, 6, 6);
    border-bottom: 1px solid rgb(199, 6, 6);
}

.wrapper .controls .filters span.active {
    color: #31b179;
}

.wrapper .task-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 400px;
    overflow-y: auto
}



.wrapper .task-box::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

.wrapper .task-box::-webkit-scrollbar-thumb {
    background-color: #52e3a4b7;
    border-radius: 60px;
}


.wrapper .task-box .task {
    margin-right: 12px;
    list-style: none;
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;

}

.wrapper .task-box .task.completed .task-info .task-number {
    background: #52E3A4;
    border: #31b179;

}

.wrapper .task-box .task.completed .task-info .text {
    text-decoration: line-through;
    color: #c1c1c1;
}

.wrapper .task-box .task .task-info {
    display: flex;
    gap: 16px;
}

.wrapper .task-box .task .task-info .task-number {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #c1c1c1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.wrapper .task-box .task .buttons {
    display: flex;
    gap: 8px;
}

.wrapper .task-box .task .buttons button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: #111111;
}

.wrapper .task-box .task .buttons .delete-btn:hover {
    background: rgb(253, 53, 53);
    color: #fff;
}

.wrapper .task-box .task .buttons .edit-btn:hover {
    background: rgb(54, 54, 228);
    color: #fff;
}